*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

header img{
    max-width: 200px;
    height: auto;
}

/*header*/
.header-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #120323;
    color:#97bf04;
    text-align: center;
    padding: 10px;
}

h1 {
    font-size: 1.5em;
  }

main{
    Padding: 1.5em;
}

#container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
}

figure{
    display: flex;
    flex-direction: column;

}
figure img{
    width:100%;
    max-width: 100%;
    border: 2px solid #d9043d;
}

aside{
    background-color:#97bf04;
    color: black;
    padding:20px;
    margin-bottom: 10px;
}

footer {
    background-color: #d9043d;
    color: white;
    padding: 10px;
    text-align: center;
    width:100%;
}


/*Tablet view less than 1000px wide*/
@media screen and (min-width:768px){
    .header-container{
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
    }


    figure{
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }

    figure img{
        max-width: 300px;
       }

    figcaption{
     flex: 1;
     text-align: left;
     padding: 10px;
    }

    aside{
        width: 100%;
    }

    footer{
        margin-bottom: 20px;
    }
}

/*Desktop layout 1000px and above*/
@media screen and (min-width: 1000px) {
    #container{
        display: flex;
        flex-direction:row;
        max-width: none;

}

    aside{
        margin-top: 20px;
        
}

    footer{
     margin-bottom: 10px;
}
}
